<div class = "home">
<div class="divclass">
    
    <h1 b>Live your best life today, your tomorrow is secured with us
        </h1>
    <p id =p1>LIFE INSURANCE</p>
   
    <p id = main>Life Insurance- Life insurance is a contract between an insurer and an insured. Under a life insurance plan, in exchange for a premium, the insurer promises to provide the policy nominee with a pre-decided sum of money upon the death of the policyholder (as per applicable terms and conditions).

        Life insurance includes term life insurance plan, whole life plans, endowment plans, NRI investment plans, money back plans, ULIPs, child Plans, investment plans and retirement plans.</p>
    <!--<button routerLink="learn">LearnMore...</button>-->
</div>

<div class="flex-container">
    
    <div class ="d1">
        <p id="p1">Why us?</p>
        <p>We all want to ensure that our loved ones have a comfortable life and secured future. We want to make sure they are never short in terms of financial resources to live the life of their dreams, thereby providing a strong 'foundation' of financial security for them. Tata AIA Life Insurance premium Supreme Plan, provides financial protection to your family and offers you the flexibility to choose the plan that suits your need.</p>
    </div>
    <div class ="d2">
        <p id ="p1">Benifits</p>
        <p>A term insurance premium is affordable and secures the financial future of your loved ones.With an increase in age, your premium may also increase. When you buy the term plan at an early age it is more affordable. Buying a term plan is important if you are the sole bread earner in your family. In case of any unfortunate event, term plans help to cover the risk and secure the future of your loved ones.</p>
      
    </div>
    <div class="d3">
        <p id ="p1">Security</p>
        <p>All Premiums are subject to applicable taxes, cesses & levies which will be entirely borne/ paid by the Policyholder, in addition to the payment of such Premium. Tata AIA Life shall have the right to claim, deduct, adjust, recover the amount of any applicable tax or imposition, levied by any statutory or administrative body, from the benefits payable under the Policy. Kindly refer the sales illustration for the exact premium.</p>
    </div>
  </div>

<hr>

<p id ="p2">© LIC (1997-2023)</p>

</div>

