            <div class="container">
            <h2 >Application Form </h2>
            </div>
            <br>
           
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-16 offset-md-3">
                <form >
                    <br>
                    <div class="form-group">
                      <label for="Name"><b> Policy Name </b></label><br>
                      <input  type="text"  id="editName" class="form-control" placeholder="Enter Policy Name" >
                    </div>  
                   
                  <br>
                    <div class="form-group">
                      <label for="Age"><b>Applicable Age</b></label><br>
                      <input type="textar" name="Age" id="editAge" class="form-control" placeholder="Enter Applicable Age" >
                    </div>
            <br>
                    <div class="form-group">
                      <label for="ClaimAmount"><b>Claim Amount </b></label><br>
                      <input type="text" name="claimAmount" id="editAmount" class="form-control" placeholder="Enter Claim amount" >
                    </div>
            <br>
                    <div class="form-group">
                      <label for="YearsOfPlan"><b>No Of Years</b></label><br>
                      <input type="text" name="yearsofplan" id="edityears" class="form-control" placeholder="Enter Applicant no of years plan" >
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="IntersetRate"><b>Interest Rate</b></label><br>
                        <input type="text" name="yearsofplan" id="edityears" class="form-control" placeholder="Enter Applicant no of years plan" >
                      </div>
                      <br>
                     <div class="form-group">

                        <textarea name="Description" id="Description" placeholder="Description about Service center"
                        
                         required style="margin:2px;">
                        
                       </textarea>
                        
                       </div>
                       <div class="form-group">

                        <textarea name="Description" id="Description" placeholder="Description about Service center"
                        
                         required style="margin:2px;">
                        
                       </textarea>
                        </div>
                     <div class ="form-group" >
                <button class="btn btn-primary"> Update Policy</button>
            </div>
        </form>
    </div>
    </div>
</div>


