<nav>

        <ul>
    
        <li><a routerLink="home">Life Insurance</a></li>
    
        <li><a href="userviewpolicy">View Policy</a></li>
    
        <li><a href="userprofile">Profile</a></li>
    
        
    
    
    
    
    
    <li style="float:right"><a routerLink="/login">Logout</a></li>
    
    </ul>
    
    </nav>



<br>

  <h1>Explore With Us – Life Insurance Plans and Guides</h1>

  <div class="card w-75 mb-3">

    <div class="card-body">

      <h5 class="card-title"> eShield Life Insurance</h5>

      <p>1112345VI01</p>

      <p>With Life Insurance - eShield Next, give a boost to your financial immunity. It is a new age protection plan which has been thoughtfully crafted for you to meet not only your present requirements but also take care of your changing responsibilities as the life goes along</p>

      <div class="container text-center">

        <div class="row">

          <div class="col">

            <b>Key Benefits</b>

            <p>Three Plan Option and two rider option</p>

            <p>Better Half Benefit Option & Death Benefit Payment Mode</p>

            </div>

            <div class="col">

            <b>Entry Age</b>

            <p>24 Age</p>

          </div>

        </div>

       <a href="userprofile" class="btn btn-primary">select Plan</a>

       <br><br>

       <a href="learnmore" class="btn btn-primary">Learn more</a>

      </div>

    </div>

  </div>

  <div class="card w-75 mb-3">

    <div class="card-body">

      <h5 class="card-title">Life Term Insurance</h5>

      <p>With Life Insurance - eShield Next, give a boost to your financial immunity. It is a new age protection plan which has been thoughtfully crafted for you to meet not only your present requirements but also take care of your changing responsibilities as the life goes along</p>

      <div class="container text-center">

        <div class="row">

          <div class="col">

            <b>Key Benefits</b>

            <p>Three Plan Option and two rider option</p>

            <p>Better Half Benefit Option & Death Benefit Payment Mode</p>

            </div>

            <div class="col">

            <b>Entry Age</b>

            <p>18 Age</p>

          </div>

        </div>

         <a href="userprofile" class="btn btn-primary">select Plan</a> <br><br>

         <a href="learnmore" class="btn btn-primary">Learn more</a>

        </div>

  </div>

 </div>