

        body {background-color: powderblue;}

        h5 {color: red;}

        p {color: blue;}
S.s li {




    display: inline;



}









li {



    float: left;



}









ul {



    background-color: #212121;









}









ul {



    list-style-type: none;



    margin: 0;



    padding: 0;



    overflow: hidden;



    background-color: #8b8888;



    height: 60px;



}









li {



    float: left;



}









li a {



    display: block;



    color: rgb(27, 27, 27);



    text-align: center;



    padding: 22px 16px;



    text-decoration: none;



}









li a:hover {



    background-color: rgb(244, 240, 240);



    color: #0b0a0a;



}