<div class="container">
    <h4 class="head">PLAN-DETAILS</h4>
     <table class="table">
        <thead>
    <tr>
        <th scope="col">PlanId</th><br> 
    <th scope="col"> PolicyName</th><br>
     <th scope="col">ApplicableAge</th><br> 
    <th scope="col">years</th><br>
    <th scope="col">claimamount</th><br>
    <th scope="col">InterestRate</th><br>
    <th scope="col">DELETE</th>
   
    </tr>
    </thead>
    <tr *ngFor="let u of policy">
        <td>{{u.planId}}</td><br>  
    <td>{{u.policyName}}</td><br>
     <td>{{u.applicableAge}}</td><br> 
    <td>{{u.years}}</td><br>
    <td>{{u.claimamount}}</td><br>
    <td>{{u.interestRate}}</td><br>
    
    
    
    <!-- <td><button type="delete"><i (click)="delete(u.policyid)" class="fa fa-trash" style="font-size:20px;color:red;"></i> 
        delete
        </button></td> -->
        <td><button type="button" class="btn-danger btn"(click)="delete(u.planId)">delete</button></td>
        <div class=" Add">
            
<!-- </table> -->
</div>



