<div class ="container">

<h1>About Us...!</h1>

<p>We are a unified policy provider organization strated in the year 1997 and is successfully going on with all your support and co-operation. We have over 20 office locations across India.
    Our Main branch is located in Bangalore. Our CEO ArunKumar is leading the company and he is the reason for the success of our company.
</p>

<h4>Contact number :0424-000876</h4>
<h4>Email: life@gmail.com</h4>
<h4>Address: abc street,Bangalore-04</h4>
</div>