a:hover{

    color: rgb(121, 125, 128);
      
     
      
      }
      
      a
      
      {
      
       text-decoration: none;
      
     margin: 50px;
      
      margin-bottom: 80px;
       
      }
      
      nav{
      
    text-align: center;
      
     background-color: aqua;
      
    height: 20px;
      
     padding-bottom: 10px;
      
      }