<!--  
<br><br>
  <div class="container">
  <h2 >Application Form </h2>
  </div>
  <br>
 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
      <form >
          <br>
          <div class="form-group">
            <label for="Name"><b>Applicant Name </b></label><br>
            <input  type="text"  id="editName" class="form-control" placeholder="Enter Applicant Name" >
          </div>  
         
        <br>
          <div class="form-group">
            <label for="Address"><b>Applicant Address</b></label>
            <input type="textar" name="address" id="editAddress" class="form-control" placeholder="Enter Applicant Address" >
          </div>
  <br>
          <div class="form-group">
            <label for="Mobile"><b>Applicant Mobile Number </b></label><br>
            <input type="text" name="mobile" id="editmobile" class="form-control" placeholder="Enter Applicant Mobile" >
          </div>
  <br>
          <div class="form-group">
            <label for="Email"><b>Applicant Email-id </b></label><br>
            <input type="email" name="emailid" id="editEmail" class="form-control" placeholder="Enter Applicant Email Id" >
          </div>
  <br>
 

          <div class="form-group">
            <label for="Aadhar"><b>Applicant Aadhaar Number </b></label><br>
            <input type="text" name="Aadhar" id="editAadharNo" class="form-control" placeholder="Enter Applicant Aadhaar No" >
          </div>
  <br>
          <div class="form-group">
            <label for="Pan"><b>Applicant Age </b></label><br>
            <input type="text" name="Pan" id="editPanNo" class="form-control" placeholder="Enter Applicant Age" >
          </div>
  <br>
          <div class="form-group">
            <label for="salary"><b>Applicant ongoing Id </b></label><br>
            <input type="text" name="Salary" id="editSalary" class="form-control" placeholder="Enter Applicant ongoing Id" >
          </div>
          <br>
             <div class="form-group">
               
        <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
       Document Type
       
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">PAN</a></li>
        <li><a class="dropdown-item" href="#">Aadhaar</a></li>
        <li><a class="dropdown-item" href="#">voter Id</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">others</a></li>
        </ul>
      </button> 
    </div>
    </div>  

    
  <br>
  <div class="form-group">
  <div  class="btn-group">
  <form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  </form>
  </div>
   </div>
  <br>
<div class ="form-group">
<button class=" btn btn-primary">
 Upload Documents
</button>
</div>
<br>
<div class ="form-group">
    <button class=" btn btn-primary">
     Update
    </button>
    </div>
</form>
</div>
</div>
</div>

  -->